@model IEnumerable<_3DCarConfigurator.Models.Car>
@{
    ViewData["Title"] = "Cars";
    List<string> models = new List<string>();
    int min = (int)Model.First().CarPrice;
    int max = (int)Model.First().CarPrice;

    foreach(var car in Model)
    {
        if(min > car.CarPrice)
        {
            min = (int)car.CarPrice;
        } else if(max < car.CarPrice)
        {
            max = (int)car.CarPrice;
        }
    }
}

<div class="page">
    <div class="filters">
        <div class="title">Фильтры</div>
        <div class="filter-group">
            <div class="title">Марка</div>
            @foreach (var car in Model)
            {
                @if (!models.Contains(car.Name.Split(" ")[0]))
                {
                    <div><input type="checkbox" name="Mark" checked value="@car.Name.Split(" ")[0]" class="checkbox" />@car.Name.Split(" ")[0]</div>

                    models.Add(car.Name.Split(" ")[0]);
                }

            }
        </div>
        <div class="filter-group">
            <div class="title">Цена</div>
            From:<br />
            <input type="number" value="@min" min="@min" max="@max" id="min" /><br />
            To:<br />
            <input type="number" value="@max" min="@min" max="@max" id="max" />
            <br />
        </div>
        <button class="apply-filter button" id="btnFil">Применить</button>
    </div>
    <div class="right">
        <div class="car-title">Список всех машин:</div>
        <div class="car-list">
            @foreach (var car in Model)
            {
            <a href="~/Car/CarPage/@car.Id" class="car car1" data-name="@car.Name.Split(" ")[0]" data-price="@car.CarPrice">
                <div class="car-content">
                    <div class="img" style="background-image: url('../../../img/@car.PathToModel')"></div>
                    <div class="title">@car.Name</div>
                    <div class="description">@car.CarPrice$</div>
                </div>
            </a>
            }
        </div>
    </div>
</div>


<script>
    document.querySelector("#btnFil").onclick = function () {
        var cars = document.querySelectorAll(".car1");
        var checked = document.querySelectorAll(".checkbox");
        var marks = [];
        var min = document.querySelector("#min").value;
        var max = document.querySelector("#max").value;


        checked.forEach((el) => {
            if (el.checked) {
                marks.push(el.value);
            }
        });
        cars.forEach((el) => {
            if (!marks.includes(el.dataset.name) || (el.dataset.price > max && el.dataset.price < min)) {
                el.style.display = "none";

            } else if (marks.includes(el.dataset.name) || (el.dataset.price < max && el.dataset.price > min)) {
                el.style.display = "inline-block";
            }
        });
    };
</script>