@model CarConfigViewModel
@{
    ViewData["Title"] = "Car";
}

<link rel="stylesheet" href="~/css/CarPage.css" />

<iframe width="650" height="500" allowfullscreen src="@Model.CurrentConfig.Model3dPath"></iframe>
<!--<iframe width="1024" height="640" allowfullscreen src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:3ce9144239/applications/MBW_Red, 20, black/MBW_Red, 20, black.html"></iframe>-->

<div class="configurations">
    <div class="details">
        <div class="colors">
            <div class="colorHeader">Color:</div>            

                @foreach (var detail in Model.Details.Where(x => x.Category == "Color"))
                {
                    if (Model.PickedDetails.Contains(detail.Id))
                    {
                        <div class="color selected" style=" background: @detail.Name;" data-detailId="@detail.Id" asp-for="color"></div>
                    }
                    else
                    {
                        <div class="color" style=" background: @detail.Name;" data-detailId="@detail.Id" asp-for="color"></div>
                    }

                }

            
        </div>
        <div class="wheels">
           

                @foreach (var detail in Model.Details.Where(x => x.Category == "Wheels"))
                {
                    if (Model.PickedDetails.Contains(detail.Id))
                    {
                        <p><input type="radio" name="Wheels" data-detailId="@detail.Id" checked />@detail.Name</p>
                    }
                    else
                    {
                        <p><input type="radio" name="Wheels" data-detailId="@detail.Id" />@detail.Name</p>
                    }
                }

            
        </div>
    </div>
</div>

<p id="like">LIKE</p>

<script>
    document.querySelector("#like").onclick = function () {
        var configurationDetails = "";

        var pickedColor = document.querySelector(".selected");
        configurationDetails = pickedColor.dataset.detailid;

        var checkedList = document.querySelectorAll("input:checked");
        checkedList.forEach((element) => {
            configurationDetails += "," + element.dataset.detailid;
        })

        document.location.replace("../../Car/SetLike/" + @Model.Car.Id + "," + configurationDetails);
    };

    var colors = document.querySelectorAll(".color");
    colors.forEach((element) => {
        element.onclick = function () {
            colors.forEach((elem) => {
                elem.className = "color"
            })
            element.className = "color selected"
            var configurationDetails = "";

            var pickedColor = document.querySelector(".selected");
            configurationDetails = pickedColor.dataset.detailid;

            var checkedList = document.querySelectorAll("input:checked");
            checkedList.forEach((element) => {
                configurationDetails += "," + element.dataset.detailid;
            })

            document.location.replace("../../Car/ChangeConfig/" + @Model.Car.Id + "," + configurationDetails);
        };
    })

    document.querySelectorAll("input[type=checkbox]").forEach((element) => {
        element.onchange = function () {
            colors.forEach((elem) => {
                elem.className = "color"
            })
            element.className = "color selected"
            var configurationDetails = "";

            var pickedColor = document.querySelector(".selected");
            configurationDetails = pickedColor.dataset.detailid;

            var checkedList = document.querySelectorAll("input:checked");
            checkedList.forEach((element) => {
                configurationDetails += "," + element.dataset.detailid;
            })

            document.location.replace("../../Car/ChangeConfig/" + @Model.Car.Id + "," + configurationDetails);
        }
    })
</script>

